---
layout: archive
permalink: /news/
title: "News"
author_profile: true
---

{% include base_path %}

<em>Scroll down for some of the recent things we've been up to...</em>

<span style="display:block; height:0.1em;"></span>

{%- comment -%}
Group posts by year-month like 2025-06
{%- endcomment -%}
{% assign posts_by_month = site.posts | group_by_exp:"post", "post.date | date: '%Y-%m'" %}

{% for month in posts_by_month %}
  {% assign display_date = month.name | append: "-01" | date: "%B %Y" %}

  <span style="display:block; height:0.1em;"></span>

  <h2 id="{{ month.name }}" class="archive__subtitle">{{ display_date }}</h2>

  {% for post in month.items %}
 
    {% include archive-single.html %}

  <hr style="border: none; border-bottom: 1px solid var(--global-border-color); margin: 1.414em 0;" />    

  {% endfor %}
{% endfor %}
